<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      #map {
      height: 100%;
      }


      html,
      body {
      height: 80%;
      margin: 0;
      padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
  </body>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkEFitCmK9jViwHyOzjpGeIkk5aHFz17g&callback=initMap">
</script>
<script type="text/javascript">
function initMap() {
var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 20,
  center: {
    lat: 13.108558,
    lng: 80.247208
  }
});

var image = 'http://localhost:5000/images/google_home.png';
var marker = new google.maps.Marker({
  position: {
    lat: 13.108558,
    lng: 80.247208
  },
  map: map,
  icon: {
    url: 'http://www.sriramj.ooo/images/google_home.png',
    labelOrigin: new google.maps.Point(25, 80)
  },
  label: {
    text: "Narasiman Avenue",
    color: "red",
    fontSize: "20px",
    fontWeight: "bold"
  }
});

setInterval(toggleBounce, 100);

function toggleBounce() {
  console.log("hemmloo");
  if (marker.getAnimation() !== null) {
    marker.setAnimation(null);
  } else {
    marker.setAnimation(google.maps.Animation.BOUNCE);
  }

}
}
</script>
<script type="text/javascript">
<!-- Hotjar Tracking Code for http://www.sriramj.ooo -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1004893,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</script>
</html>
