<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>API Course</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


  </head>
  <body>

    <h1><a href="/part1"><i class="fas fa-folder-open" style="color:#FEE073"></i>01 Setting the stage</a></h1>
    <h1><a href="/part2"><i class="fas fa-folder-open" style="color:#FEE073"></i>02 Evolution of  RESTful services</a></h1>
    <h1><a href="/part3"><i class="fas fa-folder-open" style="color:#FEE073"></i>03 REST API Architectural Constraints</a></h1>
    <h1><a href="/part4"><i class="fas fa-folder-open" style="color:#FEE073"></i>04 Desigining REST API</a></h1>
    <h1><i class="fas fa-folder-open" style="color:#FEE073"></i>05 REST API Security <span style="color:red">(coming soon)</span> </h1>
    <h1><i class="fas fa-folder-open" style="color:#FEE073"></i>06 REST API Specifications using Swagger 2_0 _ OAI <span style="color:red">(coming soon)</span> </h1>
    <h1><i class="fas fa-folder-open" style="color:#FEE073"></i>07 API Management <span style="color:red">(coming soon)</span> </h1>
    <h1><i class="fas fa-folder-open" style="color:#FEE073"></i>08 Good Bye & All the Best <span style="color:red">(coming soon)</span> </h1>








  </body>
  <script>
    (function(h, o, t, j, a, r) {
      h.hj = h.hj || function() {
        (h.hj.q = h.hj.q || []).push(arguments)
      };
      h._hjSettings = {
        hjid: 700174,
        hjsv: 6
      };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script');
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
</html>
