<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Medium Audio Downloader</title>
    <link rel="shortcut icon" type="image/png" href="/rupee-128.png" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">



  </head>
  <body>
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">

                  <br/><strong>Medium</strong> Audio Downloader <small>(&#946;eta)</small>
              </h1>
        </div>
      </div>
    </section>
    <div class="info-head">
      Listen and download all premium Medium audio stories. Paste the url of the Medium post which you want to download and click on Download button. This tool is under build, you might notice service unavailabilities until final release.
    </div>
    <form action="mediumdownload" method="get">

    <div class="center">
      <input class="input is-rounded is-large" name="url" type="text" placeholder="enter medium audio post url">
      <button type="submit" class="button is-danger is-rounded is-medium" style="margin-top:10px" name="button">Download</button>
    </div>
    </form>


  </body>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111767825-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-111767825-1');
  </script>
</html>
