<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>API Course - Part 3</title>
  </head>
  <body>
    <h2>010 Introduction to REST Architecture Constraints</h2>
<iframe src="https://content.jwplatform.com/players/YcAGzDN0-tfzrFMcj.html" width="840" height="460" frameborder="0" scrolling="auto" allowfullscreen></iframe>
<h2>011 REST API Architectural Constraint - Client Server</h2>
<iframe src="https://content.jwplatform.com/players/hL2GYooK-tfzrFMcj.html" width="840" height="460" frameborder="0" scrolling="auto" allowfullscreen></iframe>
<h2>012 REST API Architectural Constraint - Uniform Interface</h2>
<iframe src="https://content.jwplatform.com/players/zbD63cpo-tfzrFMcj.html" width="840" height="460" frameborder="0" scrolling="auto" allowfullscreen></iframe>
<h2>013 REST API Architectural Constraint - Statelessness</h2>
<iframe src="https://content.jwplatform.com/players/lBrdCIy9-tfzrFMcj.html" width="840" height="460" frameborder="0" scrolling="auto" allowfullscreen></iframe>
<h2>014 REST API Architectural Constraint - Caching</h2>
<iframe src="https://content.jwplatform.com/players/i7QcgYqm-tfzrFMcj.html" width="840" height="460" frameborder="0" scrolling="auto" allowfullscreen></iframe>
<h2>015 REST API Architectural Constraint - Layered System</h2>
<iframe src="https://content.jwplatform.com/players/SO8L8fiB-tfzrFMcj.html" width="840" height="460" frameborder="0" scrolling="auto" allowfullscreen></iframe>
<h2>016 REST API Architectural Constraint - Code On Demand</h2>
<iframe src="https://content.jwplatform.com/players/mU34ekGc-tfzrFMcj.html" width="840" height="460" frameborder="0" scrolling="auto" allowfullscreen></iframe>
<h2>017 Richardson Maturity Model for REST API</h2>
<iframe src="https://content.jwplatform.com/players/kDbCEgeS-tfzrFMcj.html" width="840" height="460" frameborder="0" scrolling="auto" allowfullscreen></iframe>

  </body>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111767825-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-111767825-1');
  </script>
  <script>
    (function(h, o, t, j, a, r) {
      h.hj = h.hj || function() {
        (h.hj.q = h.hj.q || []).push(arguments)
      };
      h._hjSettings = {
        hjid: 700174,
        hjsv: 6
      };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script');
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
</html>
