@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
    background: #FF7473;
}

.window {
    width: 20rem;
    height: 13rem;
    background-color: #FFF1BA;
    border-radius: 1rem;
    border: 0.4rem solid #495564;
    text-align: center;
    margin: 5rem auto;
    overflow: hidden;
}

.bar {
    width: inherit;
    height: 2rem;
    background-color: #B2F9FF;
    border-bottom: 0.4rem solid #495564;
}

.button, .button:before, .button:after {
    position: relative;
    top: .4rem;
    left: .4rem;
    width: .5rem;
    height: .5rem;
    background-color: tomato;
    border-radius: 50%;
    border: 0.4rem solid #495564;
}
.button:before {
    content: "";
    display: block;
    top: -.4rem;
    left: 1rem;
    background-color: #EDD47B;
}
.button:after {
    content: "";
    display: block;
    top: -1.65rem;
    left: 2.35rem;
    background-color: #6AD8AC;
}

.search {
    padding-top: 10%;
}
.search:before, .search:after {
    content: "";
    display: block;
    border-radius: 50%;
    border: 0.3rem solid #495564;
    -webkit-animation: zoom 1s 1;
    animation: zoom 1s 1;
}
.search:before {
    position: relative;
    top: 2.3rem;
    left: 4rem;
    width: 1rem;
    height: 1rem;
}
.search:after {
    position: relative;
    top: -1.7rem;
    left: 4.5rem;
    width: .02em;
    height: .02rem;
    -webkit-animation: zoom2 .6s 1, spin .6s .6s linear 1;
    animation: zoom2 .6s 1, spin .6s .6s linear 1;
    -webkit-transform: translate(0.9rem, 0.6rem);
    transform: translate(0.9rem, 0.6rem);
}

input {
    width: 14rem;
    height: 3rem;
    border-radius: 3rem;
    border: 0.3rem solid #495564;
    padding-left: 4rem;
    font: 1.5rem "Oswald", sans-serif;
    outline: none;
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
    50% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
    50% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes zoom2 {
    0% {
        -webkit-transform: translate(0.9rem, 0.6rem), scale(2.4);
        transform: translate(0.9rem, 0.6rem), scale(2.4);
    }
    50% {
        -webkit-transform: translate(0.9rem, 0.6rem), scale(2);
        transform: translate(0.9rem, 0.6rem), scale(2);
    }
    100% {
        -webkit-transform: translate(0.9rem, 0.6rem), scale(1);
        transform: translate(0.9rem, 0.6rem), scale(1);
    }
}
@keyframes zoom2 {
    0% {
        -webkit-transform: translate(0.9rem, 0.6rem), scale(2.4);
        transform: translate(0.9rem, 0.6rem), scale(2.4);
    }
    50% {
        -webkit-transform: translate(0.9rem, 0.6rem), scale(2);
        transform: translate(0.9rem, 0.6rem), scale(2);
    }
    100% {
        -webkit-transform: translate(0.9rem, 0.6rem), scale(1);
        transform: translate(0.9rem, 0.6rem), scale(1);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg) translateX(1rem) rotate(0deg);
        transform: rotate(0deg) translateX(1rem) rotate(0deg);
    }
    to {
        -webkit-transform: rotate(379deg) translateX(1rem) rotate(-379deg);
        transform: rotate(379deg) translateX(1rem) rotate(-379deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg) translateX(1rem) rotate(0deg);
        transform: rotate(0deg) translateX(1rem) rotate(0deg);
    }
    to {
        -webkit-transform: rotate(379deg) translateX(1rem) rotate(-379deg);
        transform: rotate(379deg) translateX(1rem) rotate(-379deg);
    }
}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 17px 10px 10px 66px;
    float:left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
}

.green
{
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}